interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://pagure.io/api/0/fedora-infrastructure/issues?per_page=35&page=1&status=all
  response:
    body:
      string: "{\n  \"args\": {\n    \"assignee\": null, \n    \"author\": null, \n
        \   \"milestones\": [], \n    \"no_stones\": null, \n    \"order\": null,
        \n    \"priority\": null, \n    \"since\": null, \n    \"status\": \"all\",
        \n    \"tags\": []\n  }, \n  \"issues\": [\n    {\n      \"assignee\": {\n
        \       \"full_url\": \"https://pagure.io/user/phsmoura\", \n        \"fullname\":
        \"Pedro Moura\", \n        \"name\": \"phsmoura\", \n        \"url_path\":
        \"user/phsmoura\"\n      }, \n      \"blocks\": [], \n      \"close_status\":
        null, \n      \"closed_at\": null, \n      \"closed_by\": null, \n      \"comments\":
        [\n        {\n          \"comment\": \"**Metadata Update from @phsmoura**:\\n-
        Issue assigned to phsmoura\", \n          \"date_created\": \"1745530284\",
        \n          \"edited_on\": null, \n          \"editor\": null, \n          \"id\":
        967492, \n          \"notification\": true, \n          \"parent\": null,
        \n          \"reactions\": {}, \n          \"user\": {\n            \"full_url\":
        \"https://pagure.io/user/phsmoura\", \n            \"fullname\": \"Pedro Moura\",
        \n            \"name\": \"phsmoura\", \n            \"url_path\": \"user/phsmoura\"\n
        \         }\n        }\n      ], \n      \"content\": \"**NOTE**\\r\\n\\r\\nIf
        your issue is for security or deals with sensitive info please\\r\\nmark it
        as private using the checkbox below.\\r\\n\\r\\n# Describe what you would
        like us to do:\\r\\ntmpwatch was removed to work around bug [2361481](https://bugzilla.redhat.com/show_bug.cgi?id=2361481)
        in PR [#2586](https://pagure.io/fedora-infra/ansible/pull-request/2586)\\r\\nThe
        pkg should be back when the bug is fixed [here](https://pagure.io/fedora-infra/ansible/blob/main/f/vars/global.yml#_25)\\r\\n\\r\\n#
        When do you need this to be done by? (YYYY/MM/DD)\\r\\nWhen the bug is fixed\\r\\n\",
        \n      \"custom_fields\": [], \n      \"date_created\": \"1745530270\", \n
        \     \"depends\": [], \n      \"full_url\": \"https://pagure.io/fedora-infrastructure/issue/12520\",
        \n      \"id\": 12520, \n      \"last_updated\": \"1745530284\", \n      \"milestone\":
        null, \n      \"priority\": 1, \n      \"private\": false, \n      \"related_prs\":
        [], \n      \"status\": \"Open\", \n      \"tags\": [], \n      \"title\":
        \"tmpwatch removed from ansible\", \n      \"user\": {\n        \"full_url\":
        \"https://pagure.io/user/phsmoura\", \n        \"fullname\": \"Pedro Moura\",
        \n        \"name\": \"phsmoura\", \n        \"url_path\": \"user/phsmoura\"\n
        \     }\n    }, \n    {\n      \"assignee\": {\n        \"full_url\": \"https://pagure.io/user/kevin\",
        \n        \"fullname\": \"Kevin Fenzi\", \n        \"name\": \"kevin\", \n
        \       \"url_path\": \"user/kevin\"\n      }, \n      \"blocks\": [], \n
        \     \"boards\": [\n        {\n          \"board\": {\n            \"active\":
        true, \n            \"full_url\": \"https://pagure.io/fedora-infrastructure/boards/ops\",
        \n            \"name\": \"ops\", \n            \"status\": [\n              {\n
        \               \"bg_color\": \"#ffb300\", \n                \"close\": false,
        \n                \"close_status\": null, \n                \"default\": true,
        \n                \"name\": \"Backlog\"\n              }, \n              {\n
        \               \"bg_color\": \"#f4ff64\", \n                \"close\": false,
        \n                \"close_status\": null, \n                \"default\": false,
        \n                \"name\": \"Triaged\"\n              }, \n              {\n
        \               \"bg_color\": \"#99d200\", \n                \"close\": false,
        \n                \"close_status\": null, \n                \"default\": false,
        \n                \"name\": \"In Progress\"\n              }, \n              {\n
        \               \"bg_color\": \"#3c7bff\", \n                \"close\": false,
        \n                \"close_status\": null, \n                \"default\": false,
        \n                \"name\": \"In Review\"\n              }, \n              {\n
        \               \"bg_color\": \"#15d415\", \n                \"close\": true,
        \n                \"close_status\": \"Fixed\", \n                \"default\":
        false, \n                \"name\": \"Done\"\n              }, \n              {\n
        \               \"bg_color\": \"#e80909\", \n                \"close\": false,
        \n                \"close_status\": null, \n                \"default\": false,
        \n                \"name\": \"Blocked\"\n              }\n            ], \n
        \           \"tag\": {\n              \"tag\": \"ops\", \n              \"tag_color\":
        \"#3efa0e\", \n              \"tag_description\": \"ops problem now...\"\n
        \           }\n          }, \n          \"rank\": 1279, \n          \"status\":
        {\n            \"bg_color\": \"#ffb300\", \n            \"close\": false,
        \n            \"close_status\": null, \n            \"default\": true, \n
        \           \"name\": \"Backlog\"\n          }\n        }\n      ], \n      \"close_status\":
        \"Fixed with Explanation\", \n      \"closed_at\": \"1745522608\", \n      \"closed_by\":
        {\n        \"full_url\": \"https://pagure.io/user/kevin\", \n        \"fullname\":
        \"Kevi[...]
[...]
