interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://pagure.io/api/0/fedora-infrastructure/issues?per_page=35&page=1&status=all
  response:
    body:
      string: "{\n  \"args\": {\n    \"assignee\": null, \n    \"author\": null, \n
        \   \"milestones\": [], \n    \"no_stones\": null, \n    \"order\": null,
        \n    \"priority\": null, \n    \"since\": null, \n    \"status\": \"all\",
        \n    \"tags\": []\n  }, \n  \"issues\": [\n    {\n      \"assignee\": null,
        \n      \"blocks\": [], \n      \"close_status\": null, \n      \"closed_at\":
        null, \n      \"closed_by\": null, \n      \"comments\": [\n        {\n          \"comment\":
        \":thumbsup: \", \n          \"date_created\": \"1745269512\", \n          \"edited_on\":
        null, \n          \"editor\": null, \n          \"id\": 966513, \n          \"notification\":
        false, \n          \"parent\": null, \n          \"reactions\": {}, \n          \"user\":
        {\n            \"full_url\": \"https://pagure.io/user/kevin\", \n            \"fullname\":
        \"Kevin Fenzi\", \n            \"name\": \"kevin\", \n            \"url_path\":
        \"user/kevin\"\n          }\n        }\n      ], \n      \"content\": \"Planned
        Outage - updates / reboots - 2025-04-24 20:00UTC\\r\\n\\r\\nThere will be
        an outage starting at 2025-04-24 20:00UTC\\r\\nwhich will last approximately
        an hour.\\r\\n\\r\\nTo convert UTC to your local time, take a look at\\r\\nhttp://fedoraproject.org/wiki/Infrastructure/UTCHowto\\r\\nor
        run:\\r\\n\\r\\ndate -d '2025-04-24 20:00UTC'\\r\\n\\r\\nReason for outage:\\r\\n\\r\\nWe
        will be applying a change to the firewall on most of our servers and\\r\\n
        possibly rebooting.\\r\\n Services may go down during the outage window, more
        likely some\\r\\n dropped/denied packets.\\r\\n\\r\\nAffected Services:\\r\\n\\r\\nMany
        services will be affected, but most should only be down for a short time.\\r\\n\\r\\nTicket
        Link:\\r\\n\\r\\nhttps://pagure.io/fedora-infrastructure/issue/12510\\r\\n\\r\\nPlease
        join #admin:fedoraproject.org / #noc:fedoraproject.org on matrix.\\r\\nPlease
        add comments to the ticket for this outage above.\\r\\n\\r\\nUpdated status
        for this outage may be available at\\r\\nhttps://www.fedorastatus.org/\",
        \n      \"custom_fields\": [], \n      \"date_created\": \"1745268930\", \n
        \     \"depends\": [], \n      \"full_url\": \"https://pagure.io/fedora-infrastructure/issue/12510\",
        \n      \"id\": 12510, \n      \"last_updated\": \"1745269512\", \n      \"milestone\":
        null, \n      \"priority\": 1, \n      \"private\": false, \n      \"related_prs\":
        [], \n      \"status\": \"Open\", \n      \"tags\": [], \n      \"title\":
        \"Planned Outage - firewall update / possible reboots - 2025-04-24 20:00UTC\",
        \n      \"user\": {\n        \"full_url\": \"https://pagure.io/user/james\",
        \n        \"fullname\": \"James Antill\", \n        \"name\": \"james\", \n
        \       \"url_path\": \"user/james\"\n      }\n    }, \n    {\n      \"assignee\":
        null, \n      \"blocks\": [], \n      \"close_status\": null, \n      \"closed_at\":
        null, \n      \"closed_by\": null, \n      \"commen[...]
[...]
