interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://pagure.io/api/0/protop2g-test-srce/issue/2
  response:
    body:
      string: "{\n  \"assignee\": null, \n  \"blocks\": [], \n  \"close_status\":
        null, \n  \"closed_at\": \"1697170032\", \n  \"closed_by\": {\n    \"full_url\":
        \"https://pagure.io/user/t0xic0der\", \n    \"fullname\": \"Akashdeep Dhar\",
        \n    \"name\": \"t0xic0der\", \n    \"url_path\": \"user/t0xic0der\"\n  },
        \n  \"comments\": [\n    {\n      \"comment\": \"**Metadata Update from @t0xic0der**:\\n-
        Issue tagged with: cccc, dddd\", \n      \"date_created\": \"1697169810\",
        \n      \"edited_on\": null, \n      \"editor\": null, \n      \"id\": 878472,
        \n      \"notification\": true, \n      \"parent\": null, \n      \"reactions\":
        {}, \n      \"user\": {\n        \"full_url\": \"https://pagure.io/user/t0xic0der\",
        \n        \"fullname\": \"Akashdeep Dhar\", \n        \"name\": \"t0xic0der\",
        \n        \"url_path\": \"user/t0xic0der\"\n      }\n    }, \n    {\n      \"comment\":
        \"The is the first comment under the second test issue\", \n      \"date_created\":
        \"1697169964\", \n      \"edited_on\": null, \n      \"editor\": null, \n
        \     \"id\": 878475, \n      \"notification\": false, \n      \"parent[...]
