interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://pagure.io/api/0/fedora-infrastructure/issues?per_page=35&page=1&status=all
  response:
    body:
      string: "{\n  \"args\": {\n    \"assignee\": null, \n    \"author\": null, \n
        \   \"milestones\": [], \n    \"no_stones\": null, \n    \"order\": null,
        \n    \"priority\": null, \n    \"since\": null, \n    \"status\": \"all\",
        \n    \"tags\": []\n  }, \n  \"issues\": [\n    {\n      \"assignee\": null,
        \n      \"blocks\": [], \n      \"close_status\": null, \n      \"closed_at\":
        null, \n      \"closed_by\": null, \n      \"comments\": [\n        {\n          \"comment\":
        \"Duplicate of https://pagure.io/fedora-infrastructure/issue/12610 ?\\r\\n\",
        \n          \"date_created\": \"1750725472\", \n          \"edited_on\": null,
        \n          \"editor\": null, \n          \"id\": 976573, \n          \"notification\":
        false, \n          \"parent\": null, \n          \"reactions\": {}, \n          \"user\":
        {\n            \"full_url\": \"https://pagure.io/user/kevin\", \n            \"fullname\":
        \"Kevin Fenzi\", \n            \"name\": \"kevin\", \n            \"url_path\":
        \"user/kevin\"\n          }\n        }\n      ], \n      \"content\": \"I
        have multiple projects that don't seem to be getting bugs filed when new released
        come out. The new versions typically show up on their anitya project, but
        no bug is filed. I've started watching their RSS feeds for now but would love
        it if this was working again.\", \n      \"custom_fields\": [], \n      \"date_created\":
        \"1750710602\", \n      \"depends\": [], \n      \"full_url\": \"https://pagure.io/fedora-infrastructure/issue/12612\",
        \n      \"id\": 12612, \n      \"last_updated\": \"1750725472\", \n      \"milestone\":
        null, \n      \"priority\": 1, \n      \"private\": false, \n      \"related_prs\":
        [], \n      \"status\": \"Open\", \n      \"tags\": [], \n      \"title\":
        \"release-monitoring.org isn't filing bugs\", \n      \"user\": {\n        \"full_url\":
        \"https://pagure.io/user/limb\", \n        \"fullname\": \"Gwyn Ciesla\",
        \n        \"name\": \"limb\", \n        \"url_path\": \"user/limb\"\n      }\n
        \   }, \n    {\n      \"assignee\": null, \n      \"blocks\": [], \n      \"close_status\":
        null, \n      \"closed_at\": null, \n      \"closed_by\": null, \n      \"comments\":
        [\n        {\n          \"comment\": \"**Metadata Update from @zlopez**:\\n-
        Issue priority set to: Waiting on Assignee (was: Needs Review)\\n- Issue tagged
        with: Needs investigation, high-gain\", \n          \"date_created\": \"1750674641\",
        \n          \"edited_on\": null, \n          \"editor\": null, \n          \"id\":
        976487, \n          \"notification\": true, \n          \"parent\": null,
        \n          \"reactions\": {}, \n          \"user\": {\n            \"full_url\":
        \"https://pagure.io/user/zlopez\", \n            \"fullname\": \"Michal Kone\\u010dn\\u00fd\",
        \n            \"name\": \"zlopez\", \n       [...]
[...]
