interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://pagure.io/api/0/fedora-infrastructure/issues?per_page=35&page=1&status=all
  response:
    body:
      string: "{\n  \"args\": {\n    \"assignee\": null, \n    \"author\": null, \n
        \   \"milestones\": [], \n    \"no_stones\": null, \n    \"order\": null,
        \n    \"priority\": null, \n    \"since\": null, \n    \"status\": \"all\",
        \n    \"tags\": []\n  }, \n  \"issues\": [\n    {\n      \"assignee\": null,
        \n      \"blocks\": [], \n      \"close_status\": null, \n      \"closed_at\":
        null, \n      \"closed_by\": null, \n      \"comments\": [\n        {\n          \"comment\":
        \"Ditto from IP 67.169.215.NNN , ICMP \\\"tcp port https unreachable\\\".\\r\\n\",
        \n          \"date_created\": \"1702055368\", \n          \"edited_on\": null,
        \n          \"editor\": null, \n          \"id\": 887471, \n          \"notification\":
        false, \n          \"parent\": null, \n          \"reactions\": {}, \n          \"user\":
        {\n            \"full_url\": \"https://pagure.io/user/fche\", \n            \"fullname\":
        \"Frank Ch. Eigler\", \n            \"name\": \"fche\", \n            \"url_path\":
        \"user/fche\"\n          }\n        }, \n        {\n          \"comment\":
        \"sorry about that. We have been getting large spikes in koji requests, driving
        the db load way up, and I tried blocking ip's with a lot of requests around
        those times. ;( \\r\\n\\r\\nUnfortunately this blocked some legit ip's as
        well. \\r\\n\\r\\nI have cleared them all out for now, as that wasn't in the
        end really helping the load issues either. ;( \\r\\n\\r\\nPlease confirm you
        are all able to access things again now and we can then close this. \\r\\n\",
        \n          \"date_created\": \"1702056278\", \n          \"edited_on\": null,
        \n          \"editor\": null, \n          \"id\": 887478, \n          \"notification\":
        false, \n          \"parent\": null, \n          \"reactions\": {\n            \"Heart\":
        [\n              \"tuliom\"\n            ]\n          }, \n          \"user\":
        {\n            \"full_url\": \"https://pagure.io/user/kevin\", \n            \"fullname\":
        \"Kevin Fenzi\", \n            \"name\": \"kevin\", \n            \"url_path\":
        \"user/kevin\"\n          }\n        }, \n        {\n          \"comment\":
        \"All clear from me on the 67.169.215.NNN IP, thanks!\", \n          \"date_created\":
        \"1702056592\", \n          \"edited_o[...]
[...]
