interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://pagure.io/api/0/protop2g-test-srce/issues?per_page=35&page=1&status=all
  response:
    body:
      string: "{\n  \"args\": {\n    \"assignee\": null, \n    \"author\": null, \n
        \   \"milestones\": [], \n    \"no_stones\": null, \n    \"order\": null,
        \n    \"priority\": null, \n    \"since\": null, \n    \"status\": \"all\",
        \n    \"tags\": []\n  }, \n  \"issues\": [\n    {\n      \"assignee\": null,
        \n      \"blocks\": [], \n      \"close_status\": null, \n      \"closed_at\":
        \"1700554080\", \n      \"closed_by\": {\n        \"full_url\": \"https://pagure.io/user/t0xic0der\",
        \n        \"fullname\": \"Akashdeep Dhar\", \n        \"name\": \"t0xic0der\",
        \n        \"url_path\": \"user/t0xic0der\"\n      }, \n      \"comments\":
        [\n        {\n          \"comment\": \"This is the first comment under the
        fourth test issue\", \n          \"date_created\": \"1700554045\", \n          \"edited_on\":
        null, \n          \"editor\": null, \n          \"id\": 885231, \n          \"notification\":
        false, \n          \"parent\": null, \n          \"reactions\": {}, \n          \"user\":
        {\n            \"full_url\": \"https://pagure.io/user/t0xic0der\", \n            \"fullname\":
        \"Akashdeep Dhar\", \n            \"name\": \"t0xic0der\", \n            \"url_path\":
        \"user/t0xic0der\"\n          }\n        }, \n        {\n          \"comment\":
        \"This is the second comment under the fourth test issue\", \n          \"date_created\":
        \"1700554054\", \n          \"edited_on\": null, \n          \"editor\": null,
        \n          \"id\": [...]
[...]
