interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://pagure.io/api/0/fedora-infrastructure/issues?per_page=35&page=1&status=all
  response:
    body:
      string: "{\n  \"args\": {\n    \"assignee\": null, \n    \"author\": null, \n\
        \    \"milestones\": [], \n    \"no_stones\": null, \n    \"order\": null,\
        \ \n    \"priority\": null, \n    \"since\": null, \n    \"status\": \"all\"\
        , \n    \"tags\": []\n  }, \n  \"issues\": [\n    {\n      \"assignee\": null,\
        \ \n      \"blocks\": [], \n      \"close_status\": null, \n      \"closed_at\"\
        : null, \n      \"closed_by\": null, \n      \"comments\": [], \n      \"\
        content\": \"When trying to add new admin ( ljavorsk@redhat.com ) to project\
        \ \\\"star\\\" through https://src.fedoraproject.org/rpms/star/settings ,\
        \ I get following error message:\\r\\n\\r\\nPage not found (404)\\r\\nWith\
        \ the message:\\r\\n\\r\\nProject not found\\r\\n\\r\\nYou have either entered\
        \ a bad URL or the page has moved, removed, or otherwise rendered unavailable.\\\
        r\\nPlease use the main navigation menu to get (re)started.\\r\\n\\r\\nAs\
        \ he now owns the package in RHEL, I would like to have him admin access for\
        \ the package, especially as the package is now FTBFS.\\r\\n\\r\\nThanks in\
        \ advance for resolving/looking into it...\\r\\n\", \n      \"custom_fields\"\
        : [], \n      \"date_created\": \"1737620316\", \n      \"depends\": [], \n\
        \      \"full_url\": \"https://pagure.io/fedora-infrastructure/issue/12372\"\
        , \n      \"id\": 12372, \n      \"last_updated\": \"1737620351\", \n    \
        \  \"milestone\": null, \n      \"priority\": 1, \n      \"private\": false,\
        \ \n      \"related_prs\": [], \n      \"status\": \"Open\", \n      \"tags\"\
        : [], \n      \"title\": \"Problem with adding new admin to a star project\"\
        , \n      \"user\": {\n        \"full_url\": \"https://pagure.io/user/ovasik\"\
        , \n        \"fullname\": \"Ondrej Vasik\", \n        \"name\": \"ovasik\"\
        , \n        \"url_path\": \"user/ovasik\"\n      }\n    }, \n    {\n     \
        \ \"assignee\": null, \n      \"blocks\": [], \n      \"close_status\": \"\
        Invalid\", \n      \"closed_at\": \"1737555987\", \n      \"closed_by\": {\n\
        \        \"full_url\": \"https://pagure.io/user/aaradhak\", \n        \"fullname\"\
        : \"Aashish Radhakrishnan\", \n        \"name\": \"aaradhak\", \n        \"\
        url_path\": \"user/aaradhak\"\n      }, \n      \"comments\": [\n        {\n\
        \          \"comment\": \"**Metadata Update from @aaradhak**:\\n- Issue close_status\
        \ updated to: Invalid\\n- Issue status updated to: Closed (was: Open)\", \n\
        \          \"date_created\": \"1737555988\", \n          \"edited_on\": null,\
        \ \n          \"editor\": null, \n          \"id\": 952180, \n          \"\
        notification\": true, \n          \"parent\": null, \n          \"reactions\"\
        : {}, \n          \"user\": {\n            \"full_url\": \"https://pagure.io/user/aaradhak\"\
        , \n            \"fullname\": \"Aashish Radhakrishnan\", \n            \"\
        name\": \"aaradhak\", \n            \"url_path\": \"user/aaradhak\"\n    \
        \      }\n        }\n      ], \n      \"content\": \"\\r\\n\\r\\n# Describe\
        \ what you would like us to do:\\r\\nInclude the ap-southeast-5 region for\
        \ cloud and coreos image deployments in Amazon EC2.\\r\\nhttps://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-regions-availability-zones.html\\\
        r\\n\\r\\n# To Enable a region\\r\\nSign in to the AWS Management Console.\\\
        r\\nIn the upper right corner of the console, choose your account name or\
        \ number and then choose My Account.\\r\\nIn the AWS Regions section, next\
        \ to the name of the Region that you want to enable, choose Enable.\\r\\nIn\
        \ the dialog box, review the informational text and choose Enable Region.\\\
        r\\nWait until the Region is ready to use.\\r\\n\\r\\nWe would also like to\
        \ get AWS public access enabled for this region. Please use the following\
        \ command:\\r\\n    \\\"aws ec2 disable-image-block-public-access --region\
        \ ap-southeast-5\\\"\\r\\n\\r\\nLet's also adjust the quota to match the other\
        \ regions :\\r\\n    \\\"aws service-quotas request-service-quota-increase\
        \ --region=ap-southeast-5 --service-code=ec2 --quota-code=L-0E3CBAB9 --desired-value\
        \ 1000.00\\\"\\r\\n\\r\\n# When do you need this to be done by? (YYYY/MM/DD)\\\
        r\\nWhen it is possible preferably before our next FCOS release.\\r\\n\",\
        \ \n      \"custom_fields\": [], \n      \"date_created\": \"1737555669\"\
        , \n      \"depends\": [], \n      \"full_url\": \"https://pagure.io/fedora-infrastructure/issue/12371\"\
        , \n      \"id\": 12371, \n      \"last_updated\": \"1737555988\", \n    \
        \  \"milestone\": null, \n      \"priority\": 1, \n      \"private\": false,\
        \ \n      \"related_prs\": [], \n      \"status\": \"Closed\", \n      \"\
        tags\": [], \n      \"title\": \"Opt-in for AWS region to ap-southeast-5 acct:125523088429\"\
        , \n      \"user\": {\n        \"full_url\": \"https://pagure.io/user/aaradhak\"\
        , \n        \"fullname\": \"Aashish Radhakrishnan\", \n        \"name\": \"\
        aaradhak\", \n        \"url_path\": \"user/aaradhak\"\n      }\n    }, \n\
        \    {\n      \"assignee\": null, \n      \"blocks\": [], \n      \"close_status\"\
        : null, \n      \"closed_at\": null, \n      \"closed_by\": null, \n     \
        \ \"comments\": [\n        {\n          \"comment\": \"**Metadata Update from\
        \ @t0xic0der**:\\n- Assignee reset\", \n          \"date_created\": \"1737461072\"\
        , \n          \"edited_on\": null, \n          \"editor\": null, \n      \
        \    \"id\": 951906, \n          \"notification\": true, \n          \"parent\"\
        : null, \n          \"reactions\": {}, \n          \"user\": {\n         \
        \   \"full_url\": \"https://pagure.io/user/t0xic0der\", \n            \"fullname\"\
        : \"Akashdeep Dhar\", \n            \"name\": \"t0xic0der\", \n          \
        \  \"url_path\": \"user/t0xic0der\"\n          }\n        }\n      ], \n \
        \     \"content\": \"\\nThis is to inform that the TLS certificate for **fmn**\
        \ service will expire in about **30 day(s)** from now on **2025-02-20 08:36:01\
        \ UTC**. The foll[...]
[...]
