interactions:
- request:
    body: null
    headers:
      Content-type:
      - application/json
    method: GET
    uri: https://gitlab.com/api/v4/projects/42823949/issues/1
  response:
    body:
      string: '{"id":134663521,"iid":1,"project_id":42823949,"title":"[SN#5] Fedora
        India Twitter account strategies","description":"\nWe came up with a few ideas
        to promote Fedora India community and onboard more people.\n\n* Let different
        community members handle twitter account and talk about their interest and
        work. Share what they do in the community, their favorite projects etc\n\n*
        One \"Meet X from Fedora\"  and share contributors stories once a week\n\n_This
        issue ticket was originally created on [here](https://pagure.io/fedora-india/Fedora-India/issue/5)
        on a Pagure repository, [**fedora-india/Fedora-India**](https://pagure.io/fedora-india/Fedora-India)
        by [**Vipul Siddharth**](https://pagure.io/user/siddharthvipul1) on [**Fri
        May  7 13:52:53 2021**](https://savvytime.com/converter/utc/may-07-2021/13-52)._\n\n_This
        issue ticket was automatically created by the [**Pagure2GitLab Importer Service**](https://github.com/gridhead/protop2g)._","state":"closed","created_at":"2023-09-14T10:11:53.592Z","updated_at":"2024-02-22T09:36:41.579Z","closed_at":"2023-10-16T09:23:56.514Z","closed_by":{"id":18339343,"username":"project_42823949_bot_992e5e9e997a7b44822ff32a4c634472","name":"protop2g-test","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/d05ca08df001326fd4089761821e15d906b1315eceace144e831979f3d83379e?s=80\u0026d=identicon","web_url":"https://gitlab.com/project_42823949_bot_992e5e9e997a7b44822ff32a4c634472"},"labels":[],"milestone":null,"assignees":[],"author":{"id":1243277,"username":"ghost1","name":"Ghost
        User","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/79783106d88279c6c8f94f1f4dec22bdb9f90a8d14c9d6c6628a11430e236cbf?s=80\u0026d=identicon","web_url":"https://gitlab.com/ghost1"},"type":"ISSUE","assignee":null,"user_notes_count":132,"merge_requests_count":0,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"discussion_locked":null,"issue_type":"issue","web_url":"https://gitlab.com/gridhead/protop2g-test/-/issues/1","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"task_completion_status":{"count":0,"completed_count":0},"blocking_issues_count":0,"has_tasks":true,"task_status":"0
        of 0 checklist items completed","_links":{"self":"https://gitlab.com/api/v4/projects/42823949/issues/1","notes":"https://gitlab.com/api/v4/projects/42823949/issues/1/notes","award_emoji":"https://gitlab.com/api/v4/projects/42823949/issues/1/award_emoji","project":"https://gitlab.com/api/v4/projects/42823949","closed_as_duplicate_of":null},"references":{"short":"#1","relative":"#1","full":"gridhead/protop2g-test#1"},"severity":"UNKNOWN","subscribed":true,"moved_to_id":null,"service_desk_reply_to":null}'
    headers:
      Content-Type:
      - application/json
      etag:
      - W/"f708edd8cba6b3c5fb164970473a3b39"
      gitlab-lb:
      - haproxy-main-13-lb-gprd
      gitlab-sv:
      - api-gke-us-east1-c
      x-gitlab-meta:
      - '{"correlation_id":"908814f60375fed63e238d6fdc2c9279","version":"1"}'
    status:
      code: 200
      message: OK
- request:
    body: '{"state_event": "close"}'
    headers:
      Content-type:
      - application/json
    method: PUT
    uri: https://gitlab.com/api/v4/projects/42823949/issues/1
  response:
    body:
      string: '{"id":134663521,"iid":1,"project_id":42823949,"title":"[SN#5] Fedora
        India Twitter account strategies","description":"\nWe came up with a few ideas
        to promote Fedora India community and onboard more people.\n\n* Let different
        community members handle twitter account and talk about their inte[...]
