interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://pagure.io/api/0/fedora-infrastructure/issues?per_page=35&page=1&status=all
  response:
    body:
      string: "{\n  \"args\": {\n    \"assignee\": null, \n    \"author\": null, \n
        \   \"milestones\": [], \n    \"no_stones\": null, \n    \"order\": null,
        \n    \"priority\": null, \n    \"since\": null, \n    \"status\": \"all\",
        \n    \"tags\": []\n  }, \n  \"issues\": [\n    {\n      \"assignee\": null,
        \n      \"blocks\": [], \n      \"close_status\": null, \n      \"closed_at\":
        null, \n      \"closed_by\": null, \n      \"comments\": [\n        {\n          \"comment\":
        \"**Metadata Update from @zlopez**:\\n- Issue priority set to: Waiting on
        Assignee (was: Needs Review)\\n- Issue tagged with: Needs investigation, high-gain\",
        \n          \"date_created\": \"1700557356\", \n          \"edited_on\": null,
        \n          \"editor\": null, \n          \"id\": 885240, \n          \"notification\":
        true, \n          \"parent\": null, \n          \"reactions\": {}, \n          \"user\":
        {\n            \"full_url\": \"https://pagure.io/user/zlopez\", \n            \"fullname\":
        \"Michal Kone\\u010dn\\u00fd\", \n            \"name\": \"zlopez\", \n            \"url_path\":
        \"user/zlopez\"\n          }\n        }\n      ], \n      \"content\": \"It
        appears that since a few weeks ago, koschei stops being able to resolve dependencies
        for packages in some circumstances, and never recovers. In this state, koschei
        does not schedule any new scratch builds for the affected packages, and does
        not report new issues about unresolved dependencies (because dependency resolution
        for the affected packages is apparently stuck). This makes koschei useless
        for packages that are affected by this issue - and it appears to be affecting
        more and more packages over time.\\r\\n\\r\\nI also filed a ticket with koschei
        upstream:\\r\\nhttps://github.com/fedora-infra/koschei/issues/356\\r\\n\",
        \n      \"custom_fields\": [], \n      \"date_created\": \"1700521300\", \n
        \     \"depends\": [], \n      \"full_url\": \"https://pagure.io/fedora-infrastructure/issue/11636\",
        \n      \"id\": 11636, \n      \"last_updated\": \"1700557356\", \n      \"milestone\":
        null, \n      \"priority\": 3, \n      \"private\": false, \n      \"related_prs\":
        [], \n      \"status\": \"Open\", \n      \"tags\": [\n        \"Needs investigation\",
        \n        \"high-gain\"\n      ], \n      \"title\": \"koschei not processing
        packages correctly / not resolving dependencies\", \n      \"user\": {\n        \"full_url\":
        \"https://pagure.io/user/decathorpe\", \n        \"fullname\": \"Fabio Valentini\",
        \n        \"name\": \"decathorpe\", \n        \"url_path\": \"user/decathorpe\"\n
        \     }\n    }, \n    {\n      \"assignee\": null, \n      \"blocks\": [],
        \n      \"boards\": [\n        {\n          \"board\": {\n            \"active\":
        true, \n            \"full_url\": \"https://pagure.io/fedora-infrastructure/boards/ops\",
        \n            \"name\": \"ops\", \n            \"status\": [\n              {\n
        \               \"bg_color\": \"#ffb300\", \n                \"close\": false,
        \n                \"close_status\": null, \n                \"default\": true,
        \n                \"name\": \"Backlog\"\n              }, \n              {\n
        \               \"bg_color\": \"#f4ff64\", \n                \"close\": false,
        \n                \"close_status\": null, \n                \"default\": false,
        \n                \"name\": \"Triaged\"\n              }, \n              {\n
        \               \"bg_color\": \"#99d200\", \n                \"close\": false,
        \n                \"close_status\": null, \n                \"default\": false,
        \n                \"name\": \"In Progress\"\n              }, \n              {\n
        \               \"bg_color\": \"#3c7bff\", \n                \"close\": false,
        \n                \"close_status\": null, \n                \"default\": false,
        \n                \"name\": \"In Review\"\n              }, \n              {\n
        \               \"bg_color\": \"#15d415\", \n                \"close\": true,
        \n                \"close_status\": \"Fixed\", \n                \"default\":
        false, \n                \"name\": \"Done\"\n              }, \n              {\n
        \               \"bg_color\": \"#e80909\", \n                \"close\": false,
        \n                \"close_status\": null, \n                \"default\": false,
        \n                \"name\": \"Blocked\"\n              }\n            ], \n
        \           \"tag\": {\n              \"tag\": \"ops\", \n              \"tag_color\":
        \"#3efa0e\", \n              \"tag_description\": \"ops problem now...\"\n
        \           }\n          }, \n          \"rank\": 763, \n          \"status\":
        {\n            \"bg_color\": \"#ffb300\", \n            \"close\": false,
        \n            \"close_status\": null, \n            \"default\": true, \n
        \           \"name\": \"Backlog\"\n          }\n        }\n      ], \n      \"close_status\":
        null, \n      \"closed_at\": null, \n      \"closed_by\": null, \n      \"comments\":
        [\n        {\n          \"comment\": \"We definitely can add the meeting bot
        there if you like[...]
[...]
