interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://pagure.io/api/0/fedora-infrastructure/issues?per_page=35&page=1&status=all
  response:
    body:
      string: "{\n  \"args\": {\n    \"assignee\": null, \n    \"author\": null, \n
        \   \"milestones\": [], \n    \"no_stones\": null, \n    \"order\": null,
        \n    \"priority\": null, \n    \"since\": null, \n    \"status\": \"all\",
        \n    \"tags\": []\n  }, \n  \"issues\": [\n    {\n      \"assignee\": null,
        \n      \"blocks\": [], \n      \"boards\": [\n        {\n          \"board\":
        {\n            \"active\": true, \n            \"full_url\": \"https://pagure.io/fedora-infrastructure/boards/ops\",
        \n            \"name\": \"ops\", \n            \"status\": [\n              {\n
        \               \"bg_color\": \"#ffb300\", \n                \"close\": false,
        \n                \"close_status\": null, \n                \"default\": true,
        \n                \"name\": \"Backlog\"\n              }, \n              {\n
        \               \"bg_color\": \"#f4ff64\", \n                \"close\": false,
        \n                \"close_status\": null, \n                \"default\": false,
        \n                \"name\": \"Triaged\"\n              }, \n              {\n
        \               \"bg_color\": \"#99d200\", \n                \"close\": false,
        \n                \"close_status\": null, \n                \"default\": false,
        \n                \"name\": \"In Progress\"\n              }, \n              {\n
        \               \"bg_color\": \"#3c7bff\", \n                \"close\": false,
        \n                \"close_status\": null, \n                \"default\": false,
        \n                \"name\": \"In Review\"\n              }, \n              {\n
        \               \"bg_color\": \"#15d415\", \n                \"close\": true,
        \n                \"close_status\": \"Fixed\", \n                \"default\":
        false, \n                \"name\": \"Done\"\n              }, \n              {\n
        \               \"bg_color\": \"#e80909\", \n                \"close\": false,
        \n                \"close_status\": null, \n                \"default\": false,
        \n                \"name\": \"Blocked\"\n              }\n            ], \n
        \           \"tag\": {\n              \"tag\": \"ops\", \n              \"tag_color\":
        \"#3efa0e\", \n              \"tag_description\": \"ops problem now...\"\n
        \           }\n          }, \n          \"rank\": 855, \n          \"status\":
        {\n            \"bg_color\": \"#ffb300\", \n            \"close\": false,
        \n            \"close_status\": null, \n            \"default\": true, \n
        \           \"name\": \"Backlog\"\n          }\n        }\n      ], \n      \"close_status\":
        null, \n      \"closed_at\": null, \n      \"closed_by\": null, \n      \"comments\":
        [\n        {\n          \"comment\": \"**Metadata Update from @kevin**:\\n-
        Issue priority set to: Waiting on Assignee (was: Needs Review)\\n- Issue tagged
        with: low-gain, low-trouble, ops\", \n          \"date_created\": \"1709233605\",
        \n          \"edited_on\": null, \n          \"editor\": null, \n          \"id\":
        898657, \n          \"notification\": true, \n          \"parent\": null,
        \n          \"reactions\": {}, \n          \"user\": {\n            \"full_url\":
        \"https://pagure.io/user/kevin\", \n            \"fullname\": \"Kevin Fenzi\",
        \n            \"name\": \"kevin\", \n            \"url_path\": \"user/kevin\"\n
        \         }\n        }\n      ], \n      \"content\": \"The resultsdb-ci-listener
        is a app we run in openshift. It takes messages from CI and inserts them into
        resultsdb's database.\\r\\n\\r\\nRight now, changes to the app require: \\r\\n\\r\\nChanges
        made in https://pagure.io/ci-resultsdb-listener/ for the app itself.\\r\\nThen,
        image changes made in https://pagure.io/kube-sig/resultsdb-ci-listener-images\\r\\nThen,
        an image built in quay.io and pushed out\\r\\nFinally changes in ansible to
        use that container (if it's not :latest). \\r\\n\\r\\nIMHO we should move
        this to: \\r\\n\\r\\nChanges made in https://pagure.io/ci-resultsdb-listener/
        for the app in production and staging branches.\\r\\nOur openshift using s2i
        to see the changes and build it and deploy it. \", \n      \"custom_fields\":
        [], \n      \"date_created\": \"1709154082\", \n      \"depends\": [], \n
        \     \"full_url\": \"https://pagure.io/fedora-infrastructure/issue/11807\",
        \n      \"id\": 11807, \n      \"last_updated\": \"1709233605\", \n      \"milestone\":
        null, \n      \"priority\": 3, \n      \"private\": false, \n      \"related_prs\":
        [], \n      \"status\": \"Open\", \n      \"tags\": [\n        \"low-gain\",
        \n        \"low-trouble\", \n        \"ops\"\n      ], \n      \"title\":
        \"move resultsdb-ci-listener deployment pipeline\", \n      \"user\": {\n
        \       \"full_url\": \"https://pagure.io/user/kevin\", \n        \"fullname\":
        \"Kevin Fenzi\", \n        \"name\": \"kevin\", \n        \"url_path\": \"user/kevin\"\n
        \     }\n    }, \n    {\n      \"assignee\": {\n        \"full_url\": \"https://pagure.io/user/ryanlerch\",
        \n        \"fullname\": \"Ryan Lerch\", \n        \"name\": \"ryanlerch\",
        \n        \"url_path\": \[...]
[...]
