interactions:
- request:
    body: body=%0AThis+test+comment+with+broken+links+was+created+on+Mon+Dec+11+06%3A21%3A34+2023.%0A%0A_This+comment+was+originally+created+%5Bhere%5D%28https%3A%2F%2Fpagure.io%2Fprotop2g-test-srce%2Fissue%2F1%23comment-878473%29+by+%5B%2A%2AOrdinary+Engineer%2A%2A%5D%28https%3A%2F%2Ffedoraproject.org%29+under%0A%5Bthis%5D%28https%3A%2F%2Fpagure.io%2Fprotop2g-test-srce%2Fissue%2F1%29+issue+ticket+on+a+Pagure+repository%2C+%5B%2A%2Aprotop2g-test-srce%2A%2A%5D%28https%3A%2F%2Fpagure.io%2Fprotop2g-test-srce%29+on%0A%5B%2A%2AMon+Dec+11+06%3A21%3A34+2023%2A%2A+UTC%5D%28https%3A%2F%2Fsavvytime.com%2Fconverter%2Futc%2Fdec-11-2023%2F06-21%29._%0A%0A_This+comment+was+automatically+created+by+the%0A%5B%2A%2APagure+Exporter%2A%2A%5D%28https%3A%2F%2Fgithub.com%2Fgridhead%2Fpagure-exporter%29._%0A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://gitlab.com/api/v4/projects/42823949/issues/1/notes
  response:
    body:
      string: '{"id":1687905004,"type":null,"body":"\nThis test comment with broken
        links was created on Mon Dec 11 06:21:34 2023.\n\n_This comment was originally
        created [here](https://pagure.io/protop2g-test-srce/issue/1#comment-878473)
        by [**Ordinary Engineer**](https://fedoraproject.org) under\n[this](https://pagure.io/protop2g-test-srce/issue/1)
        issue ticket on a Pagure repository, [**protop2g-test-srce**](https://pagure.io/protop2g-test-srce)
        on\n[**Mon Dec 11 06:21:34 2023** UTC](https://savvytime.com/converter/utc/dec-11-2023/06-21)._\n\n_This
        comment was automatically created by the\n[**Pagure Exporter**](https://github.com/gridhead/pagure-exporter)._","attachment":null,"author":{"id":18339343,"username":"project_42823949_bot_992e5e9e997a7b44822ff32a4c634472","name":"****","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/1b6289f6c729f1ba694aa2bc296a7277?s=80\u0026d=identicon","web_url":"https://gitlab.com/project_42823949_bot_992e5e9e997a7b44822ff32a4c634472"},"created_at":"2023-12-11T06:30:32.275Z","updated_at":"2023-12-11T06:30:32.275Z","system":false,"noteable_id":134663521,"noteable_type":"Issue","project_id":42823949,"resolvable":false,"confidential":false,"internal":false,"noteable_iid":1,"commands_changes":{}}'
    headers:
      Content-Type:
      - application/json
      etag:
      - W/"67735e5d3a229c80471694e2fec2181c"
      gitlab-lb:
      - haproxy-main-41-lb-gprd
      gitlab-sv:
      - localhost
      ratelimit-limit:
      - '2000'
      ratelimit-observed:
      - '4'
      ratelimit-remaining:
      - '1996'
      ratelimit-reset:
      - '1702276292'
      ratelimit-resettime:
      - Mon, 11 Dec 2023 06:31:32 GMT
      x-gitlab-meta:
      - '{"correlation_id":"8bbf8811df3833ed05fcd4c8c0b5d2c5","version":"1"}'
    status:
      code: 201
      message: Created
version: 1
