interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://pagure.io/api/0/fedora-infrastructure/issues?per_page=35&page=1&status=all
  response:
    body:
      string: "{\n  \"args\": {\n    \"assignee\": null, \n    \"author\": null, \n
        \   \"milestones\": [], \n    \"no_stones\": null, \n    \"order\": null,
        \n    \"priority\": null, \n    \"since\": null, \n    \"status\": \"all\",
        \n    \"tags\": []\n  }, \n  \"issues\": [\n    {\n      \"assignee\": null,
        \n      \"blocks\": [], \n      \"close_status\": \"Invalid\", \n      \"closed_at\":
        \"1708581485\", \n      \"closed_by\": {\n        \"full_url\": \"https://pagure.io/user/chrismurphy\",
        \n        \"fullname\": \"Chris Murphy\", \n        \"name\": \"chrismurphy\",
        \n        \"url_path\": \"user/chrismurphy\"\n      }, \n      \"comments\":
        [\n        {\n          \"comment\": \"Seems to have resolved itself\", \n
        \         \"date_created\": \"1708581488\", \n          \"edited_on\": null,
        \n          \"editor\": null, \n          \"id\": 896970, \n          \"notification\":
        false, \n          \"parent\": null, \n          \"reactions\": {}, \n          \"user\":
        {\n            \"full_url\": \"https://pagure.io/user/chrismurphy\", \n            \"fullname\":
        \"Chris Murphy\", \n            \"name\": \"chrismurphy\", \n            \"url_path\":
        \"user/chrismurphy\"\n          }\n        }, \n        {\n          \"comment\":
        \"**Metadata Update from @chrismurphy**:\\n- Issue close_status updated to:
        Invalid\\n- Issue status updated to: Closed (was: Open)\", \n          \"date_created\":
        \"1708581488\", \n          \"edited_on\": null, \n          \"editor\": null,
        \n          \"id\": 896971, \n          \"notification\": true, \n          \"parent\":
        null, \n          \"reactions\": {}, \n          \"user\": {\n            \"full_url\":
        \"https://pagure.io/user/chrismurphy\", \n            \"fullname\": \"Chris
        Murphy\", \n            \"name\": \"chrismurphy\", \n            \"url_path\":
        \"user/chrismurphy\"\n          }\n        }\n      ], \n      \"content\":
        \"**NOTE**\\r\\n\\r\\nIf your issue is for security or deals with sensitive
        info please\\r\\nmark it as private using the checkbox below.\\r\\n\\r\\n#
        Describe what you would like us to do:\\r\\n\\r\\nWhen updating a wiki entry
        https://fedoraproject.org/wiki/User:Chrismurphy/Draft/dualboot_teststation
        upon clicking Save Changes, I'm getting:\\r\\n\\r\\nGateway Timeout\\r\\nThe
        gateway did not receive a timely response from the upstream server or application.\\r\\n\\r\\n#
        When do you need this to be done by? (YYYY/MM/DD)\\r\\n\\r\\nnot urgent\\r\\n\",
        \n      \"custom_fields\": [], \n      \"date_created\": \"1708578604\", \n
        \     \"depends\": [], \n      \"full_url\": \"https://pagure.io/fedora-infrastructure/issue/11784\",
        \n      \"id\": 11784, \n      \"last_updated\": \"1708581488\", \n      \"milestone\":
        null, \n      \"priority\": 1, \n      \"private\": false, \n      \"related_prs\":
        [], \n      \"status\": \"Closed\", \n      \"tags\": [], \n      \"title\":
        \"wiki gateway timeout when saving an update\", \n      \"user\": {\n        \"full_url\":
        \"https://pagure.io/user/chrismurphy\", \n        \"fullname\": \"Chris Murphy\",
        \n        \"name\": \"chrismurphy\", \n        \"url_path\": \"user/chrismurphy\"\n
        \     }\n    }, \n    {\n      \"assignee\": null, \n      \"blocks\": [],
        \n      \"close_status\": \"Will Not/Can Not fix\", \n      \"closed_at\":
        \"1708593677\", \n      \"closed_by\": {\n  [...]
[...]
