interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://pagure.io/api/0/fedora-infrastructure/issues?per_page=35&page=1&status=all
  response:
    body:
      string: "{\n  \"args\": {\n    \"assignee\": null, \n    \"author\": null, \n
        \   \"milestones\": [], \n    \"no_stones\": null, \n    \"order\": null,
        \n    \"priority\": null, \n    \"since\": null, \n    \"status\": \"all\",
        \n    \"tags\": []\n  }, \n  \"issues\": [\n    {\n      \"assignee\": null,
        \n      \"blocks\": [], \n      \"close_status\": \"Upstream\", \n      \"closed_at\":
        \"1712178641\", \n      \"closed_by\": {\n        \"full_url\": \"https://pagure.io/user/kevin\",
        \n        \"fullname\": \"Kevin Fenzi\", \n        \"name\": \"kevin\", \n
        \       \"url_path\": \"user/kevin\"\n      }, \n      \"comments\": [\n        {\n
        \         \"comment\": \"Can you refile this over in releng? \\r\\n\\r\\nhttps://pagure.io/releng
        \\r\\n\\r\\nShould be able to take a look there!\\r\\n\\r\\nThanks!\", \n
        \         \"date_created\": \"1712178643\", \n          \"edited_on\": null,
        \n          \"editor\": null, \n          \"id\": 904009, \n          \"notification\":
        false, \n          \"parent\": null, \n          \"reactions\": {}, \n          \"user\":
        {\n            \"full_url\": \"https://pagure.io/user/kevin\", \n            \"fullname\":
        \"Kevin Fenzi\", \n            \"name\": \"kevin\", \n            \"url_path\":
        \"user/kevin\"\n          }\n        }, \n        {\n          \"comment\":
        \"**Metadata Update from @kevin**:\\n- Issue close_status updated to: Upstream\\n-
        Issue status updated to: Closed (was: Open)\", \n          \"date_created\":
        \"1712178644\", \n          \"edited_on\": null, \n          \"editor\": null,
        \n          \"id\": 904010, \n          \"notification\": true, \n          \"parent\":
        null, \n          \"reactions\": {}, \n          \"user\": {\n            \"full_url\":
        \"https://pagure.io/user/kevin\", \n            \"fullname\": \"Kevin Fenzi\",
        \n            \"name\": \"kevin\", \n            \"url_path\": \"user/kevin\"\n
        \         }\n        }\n      ], \n      \"content\": \"# Describe what you
        would like us to do:\\r\\n\\r\\nSince I started working with git remote sometimes
        , git write in wrong remote by my mistake .\\r\\n \\r\\nI'd like delete \\r\\n\\r\\n-
        branch 2.7.11-rawhide-update from apt package https://src.fedoraproject.org/rpms/apt/tree/2.7.11-rawhide-update\\r\\n\\r\\n-
        branch ld_flags from seamonkey package \\r\\nhttps://src.fedoraproject.org/rpms/seamonkey/tree/ld_flags\\r\\n\\r\\nSorry
        I'll try be more careful \\r\\nThank you\\r\\n\\r\\n----\\r\\n\\r\\n# When
        do you need this to be done by? \\r\\nwhen is possible \\r\\n\\r\\n----\\r\\n\",
        \n      \"custom_fields\": [], \n      \"date_created\": \"1712178130\", \n
        \     \"depends\": [], \n      \"full_url\": \"https://pagure.io/fedora-infrastructure/issue/11863\",
        \n      \"id\": 11863, \n      \"last_updated\": \"1712178644\", \n      \"milestone\":
        null, \n      \"priority\": 1, \n      \"private\": false, \n      \"related_prs\":
        [], \n      \"status\": \"Closed\", \n      \"tags\": [], \n      \"title\":
        \"please delete branches  that I made wrongly by mistake \", \n      \"user\":
        {\n        \"full_url\": \"https://pagure.io/user/sergiomb\", \n        \"fullname\":
        \"S\\u00e9rgio Basto\", \n        \"name\": \"sergiomb\", \n        \"url_path\":
        \"user/sergiomb\"\n      }\n    }, \n    {\n      \"assignee\": {\n        \"full_url\":
        \"https://pagure.io/user/kevin\", \n        \"fullname\": \"Kevin Fenzi\",
        \n        \"name\": \"kevin\", \n       [...]
[...]
