interactions:
- request:
    body: null
    headers:
      Content-type:
      - application/json
    method: GET
    uri: https://gitlab.com/api/v4/projects/42823949/issues/1
  response:
    body:
      string: '{"id":134663521,"iid":1,"project_id":42823949,"title":"[SN#5] Fedora
        India Twitter account strategies","description":"\nWe came up with a few ideas
        to promote Fedora India community and onboard more people.\n\n* Let different
        community members handle twitter account and talk about their interest and
        work. Share what they do in the community, their favorite projects etc\n\n*
        One \"Meet X from Fedora\"  and share contributors stories once a week\n\n_This
        issue ticket was originally created on [here](https://pagure.io/fedora-india/Fedora-India/issue/5)
        on a Pagure repository, [**fedora-india/Fedora-India**](https://pagure.io/fedora-india/Fedora-India)
        by [**Vipul Siddharth**](https://pagure.io/user/siddharthvipul1) on [**Fri
        May  7 13:52:53 2021**](https://savvytime.com/converter/utc/may-07-2021/13-52)._\n\n_This
        issue ticket was automatically created by the [**Pagure2GitLab Importer Service**](https://github.com/gridhead/protop2g)._","state":"closed","created_at":"2023-09-14T10:11:53.592Z","updated_at":"2024-02-22T08:29:52.339Z","closed_at":"2023-10-16T09:23:56.514Z","closed_by":{"id":18339343,"username":"project_42823949_bot_992e5e9e997a7b44822ff32a4c634472","name":"protop2g-test","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/d05ca08df001326fd4089761821e15d906b1315eceace144e831979f3d83379e?s=80\u0026d=identicon","web_url":"https://gitlab.com/project_42823949_bot_992e5e9e997a7b44822ff32a4c634472"},"labels":[],"milestone":null,"assignees":[],"author":{"id":1243277,"username":"ghost1","name":"Ghost
        User","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/79783106d88279c6c8f94f1f4dec22bdb9f90a8d14c9d6c6628a11430e236cbf?s=80\u0026d=identicon","web_url":"https://gitlab.com/ghost1"},"type":"ISSUE","assignee":null,"user_notes_count":131,"merge_requests_count":0,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"discussion_locked":null,"issue_type":"issue","web_url":"https://gitlab.com/gridhead/protop2g-test/-/issues/1","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"task_completion_status":{"count":0,"completed_count":0},"blocking_issues_count":0,"has_tasks":true,"task_status":"0
        of 0 checklist items completed","_links":{"self":"https://gitlab.com/api/v4/projects/42823949/issues/1","notes":"https://gitlab.com/api/v4/projects/42823949/issues/1/notes","award_emoji":"https://gitlab.com/api/v4/projects/42823949/issues/1/award_emoji","project":"https://gitlab.com/api/v4/projects/42823949","closed_as_duplicate_of":null},"references":{"short":"#1","relative":"#1","full":"gridhead/protop2g-test#1"},"severity":"UNKNOWN","subscribed":true,"moved_to_id":null,"service_desk_reply_to":null}'
    headers:
      Content-Type:
      - application/json
      etag:
      - W/"f201264613445d740b0e1f07af416b4f"
      gitlab-lb:
      - haproxy-main-29-lb-gprd
      gitlab-sv:
      - api-gke-us-east1-d
      x-gitlab-meta:
      - '{"correlation_id":"d1865e37eed1b86a3f2d06d8fa446489","version":"1"}'
    status:
      code: 200
      message: OK
- request:
    body: '{"body": "\nThis test comment with broken links was created on Thu Feb
      22 09:28:00 2024.\n\n_This comment was originally created [here](https://pagure.io/protop2g-test-srce/issue/1#comment-878473)
      by [**Ordinary Engineer**](https://fedoraproject.org) under\n[this](https://pagure.io/protop2g-test-srce/issue/1)
      issue ticket on a Pagure repository, [**protop2g-test-srce**](https://pagure.io/protop2g-test-srce)
      on\n[**Thu Feb 22 09:28:00 2024** UTC](https://savvytime.com/converter/utc/feb-22-2024/09-28)._\n\n_This
      comment was automatically created by the\n[**Pagure Exporter**](https://github.com/gridhead/pagure-exporter)._\n"}'
    headers:
      Content-type:
      - application/json
    method: POST
    uri: https://gitlab.com/api/v4/projects/42823949/issues/1/discussions
  response:
    body:
      string: '{"id":"292faac2f7776a87b5fd79551e2de3762d809f60","individual_note":false,"notes":[{"id":1784530784,"type":"DiscussionNote","body":"\nThis
        test comment with broken links was created on Thu Feb 22 09:28:00 2024.\n\n_This
        comment was originally created [here](https://pagure.io/protop2g-test-srce/issue/1#comment-878473)
        by [**Ordinary Engineer**](https://fedoraproject.org) under\n[this](https://pagure.io/protop2g-test-srce/issue/1)
        issue ticket on a Pagure repository, [**protop2g-test-srce**](https://pagure.io/protop2g-test-srce)
        on\n[**Thu Feb 22 09:28:00 2024** UTC](https://savvytime.com/converter/utc/feb-22-2024/09-28)._\n\n_This
        comment was automatically created by the\n[**Pagure Exporter**](https://github.com/gridhead/pagure-exporter)._","attachment":null,"author":{"id":18339343,"username":"project_42823949_bot_992e5e9e997a7b44822ff32a4c634472","name":"****","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/d05ca08df001326fd4089761821e15d906b1315eceace144e831979f3d83379e?s=80\u0026d=identicon","web_url":"https://gitlab.com/project_42823949_bot_992e5e9e997a7b44822ff32a4c634472"},"created_at":"2024-02-22T09:36:41.529Z","updated_at":"2024-02-22T09:36:41.529Z","system":false,"noteable_id":134663521,"noteable_type":"Issue","project_id":42823949,"resolvable":true,"resolved":false,"resolved_by":null,"resolved_at":null,"confidential":false,"internal":false,"noteable_iid":1,"commands_changes":{}}]}'
    headers:
      Content-Type:
      - application/json
      etag:
      - W/"9fe5fc9fd2be5022798f305a9adb0473"
      gitlab-lb:
      - haproxy-main-06-lb-gprd
      gitlab-sv:
      - api-gke-us-east1-b
      x-gitlab-meta:
      - '{"correlation_id":"3f026980ab747fe14b05443d48aad0b0","version":"1"}'
    status:
      code: 201
      message: Created
version: 1
