interactions:
- request:
    body: '{"title": "[SN#1] This is the title of the first test issue", "description":
      "\nThis is the body of the first test issue\n\n_This issue ticket was originally
      created [here](https://pagure.io/protop2g-test-srce/issue/1) on a Pagure repository,\n[**protop2g-test-srce**](https://pagure.io/protop2g-test-srce)
      by [**Ordinary Engineer**](https://fedoraproject.org) on\n[**Fri Oct 13 03:57:42
      2023** UTC](https://savvytime.com/converter/utc/oct-13-2023/03-57)._\n\n_This
      issue ticket was automatically created by the\n[**Pagure Exporter**](https://github.com/gridhead/pagure-exporter)._\n",
      "labels": ["aaaa", "bbbb"]}'
    headers:
      Content-type:
      - application/json
    method: POST
    uri: https://gitlab.com/api/v4/projects/42823949/issues
  response:
    body:
      string: '{"id":142497685,"iid":13170,"project_id":42823949,"title":"[SN#1] This
        is the title of the first test issue","description":"\nThis is the body of
        the first test issue\n\n_This issue ticket was originally created [here](https://pagure.io/protop2g-test-srce/issue/1)
        on a Pagure repository,\n[**protop2g-test-srce**](https://pagure.io/protop2g-test-srce)
        by [**Ordinary Engineer**](https://fedoraproject.org) on\n[**Fri Oct 13 03:57:42
        2023** UTC](https://savvytime.com/converter/utc/oct-13-2023/03-57)._\n\n_This
        issue ticket was automatically created by the\n[**Pagure Exporter**](https://github.com/gridhead/pagure-exporter)._","state":"opened","created_at":"2024-02-22T09:36:38.943Z","updated_at":"2024-02-22T09:36:38.943Z","closed_at":null,"closed_by":null,"labels":["aaaa","bbbb"],"milestone":null,"assignees":[],"author":{"id":18339343,"username":"project_42823949_bot_992e5e9e997a7b44822ff32a4c634472","name":"protop2g-test","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/d05ca08df001326fd4089761821e15d906b1315eceace144e831979f3d83379e?s=80\u0026d=identicon","web_url":"https://gitlab.com/project_42823949_bot_992e5e9e997a7b44822ff32a4c634472"},"type":"ISSUE","assignee":null,"user_notes_count":0,"merge_requests_count":0,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"discussion_locked":null,"issue_type":"issue","web_url":"https://gitlab.com/gridhead/protop2g-test/-/issues/13170","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"task_completion_status":{"count":0,"completed_count":0},"blocking_issues_count":0,"has_tasks":true,"task_status":"0
        of 0 checklist items completed","_links":{"self":"https://gitlab.com/api/v4/projects/42823949/issues/13170","notes":"https://gitlab.com/api/v4/projects/42823949/issues/13170/notes","award_emoji":"https://gitlab.com/api/v4/projects/42823949/issues/13170/award_emoji","project":"https://gitlab.com/api/v4/projects/42823949","closed_as_duplicate_of":null},"references":{"short":"#13170","relative":"#13170","full":"gridhead/protop2g-test#13170"},"severity":"UNKNOWN","subscribed":true,"moved_to_id":null,"service_desk_reply_to":null}'
    headers:
      Content-Type:
      - application/json
      etag:
      - W/"27df68c77c315fa65c04450abd12ddec"
      gitlab-lb:
      - haproxy-main-06-lb-gprd
      gitlab-sv:
      - api-gke-us-east1-b
      x-gitlab-meta:
      - '{"correlation_id":"b6f13e893ffeebf8e51aabede5e06b07","version":"1"}'
    status:
      code: 201
      message: Created
version: 1
