interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://pagure.io/api/0/protop2g-test-srce/issues?per_page=1&page=1
  response:
    body:
      string: "{\n  \"args\": {\n    \"assignee\": null, \n    \"author\": null, \n
        \   \"milestones\": [], \n    \"no_stones\": null, \n    \"order\": null,
        \n    \"priority\": null, \n    \"since\": null, \n    \"status\": null, \n
        \   \"tags\": []\n  }, \n  \"issues\": [\n    {\n      \"assignee\": null,
        \n      \"blocks\": [], \n      \"close_status\": null, \n      \"closed_at\":
        null, \n      \"closed_by\": null, \n      \"comments\": [\n        {\n          \"comment\":
        \"This is the first comment under the third test issue\", \n          \"date_created\":
        \"1700553880\", \n          \"edited_on\": null, \n          \"editor\": null,
        \n          \"id\": 885229, \n          \"notification\": false, \n          \"parent\":
        null, \n          \"reactions\": {}, \n          \"user\": {\n            \"full_url\":
        \"https://pagure.io/user/t0xic0der\", \n            \"fullname\": \"Akashdeep
        Dhar\", \n            \"name\": \"t0xic0der\", \n            \"url_path\":
        \"user/t0xic0der\"\n          }\n        }, \n        {\n          \"comment\":
        \"This is the second comment under the third test issue\", \n          \"date_created\":
        \"1700553892\", \n          \"edited_on\": null, \n          \"editor\": null,
        \n          \"id\": 885230, \n          \"notification\": false, \n          \"parent\":
        null, \n          \"reactions\": {}, \n          \"user\": {\n            \"full_url\":
        \"https://pagure.io/user/t0xic0der\", \n            \"fullname\": \"Akashdeep
        Dhar\", \n            \"name\": \"t0xic0der\", \n            \"url_path\":
        \"user/t0xic0der\"\n          }\n        }\n      ], \n      \"content\":
        \"This is the body of the third test issue\", \n      \"custom_fields\": [],
        \n      \"date_created\": \"1700553837\", \n      \"depends\": [], \n      \"full_url\":
        \"https://pagure.io/protop2g-test-srce/issue/3\", \n      \"id\": 3, \n      \"last_updated\":
        \"1700553892\", \n      \"milestone\": null, \n      \"priority\": null, \n
        \     \"private\": true, \n      \"related_prs\": [], \n      \"status\":
        \"Open\", \n      \"tags\": [\n        \"eeee\", \n        \"ffff\"\n      ],
        \n      \"title\": \"This is the title of the third test issue\", \n      \"user\":
        {\n        \"full_url\": \"https://pagure.io/user/t0xic0der\", \n        \"fullname\":
        \"Akashdeep Dhar\", \n        \"name\": \"t0xic0der\", \n        \"url_path\":
        \"user/t0xic0der\"\n      }\n    }\n  ], \n  \"pagination\": {\n    \"first\":
        \"https://pagure.io/api/0/protop2g-test-srce/issues?per_page=1&page=1\", \n
        \   \"last\": \"https://pagure.io/api/0/protop2g-test-srce/issues?per_page=1&page=2\",
        \n    \"next\": \"https://pagure.io/api/0/protop2g-test-srce/issues?per_page=1&page=2\",
        \n    \"page\": 1, \n    \"pages\": 2, \n    \"per_page\": 1, \n    \"prev\":
        null\n  }, \n  \"total_issues\": 1\n}\n"
    headers:
      Content-Type:
      - application/json
      Upgrade:
      - h2,h2c
    status:
      code: 200
      message: OK
version: 1
