interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://pagure.io/api/0/protop2g-test-srce
  response:
    body:
      string: "{\n  \"access_groups\": {\n    \"admin\": [], \n    \"collaborator\":
        [], \n    \"commit\": [], \n    \"ticket\": []\n  }, \n  \"access_users\":
        {\n    \"admin\": [\n      \"ryanlerch\"\n    ], \n    \"collaborator\": [],
        \n    \"commit\": [], \n    \"owner\": [\n      \"t0xic0der\"\n    ], \n    \"ticket\":
        []\n  }, \n  \"close_status\": [], \n  \"custom_keys\": [], \n  \"date_created\":
        \"1697168063\", \n  \"date_modified\": \"1744795940\", \n  \"description\":
        \"The source namespace for the Pagure Exporter project to run tests against\",
        \n  \"full_url\": \"https://pagure.io/protop2g-test-srce\", \n  \"fullname\":
        \"protop2g-test-srce\", \n  \"id\": 17042, \n  \"milestones\": {}, \n  \"name\":
        \"protop2g-test-srce\", \n  \"namespace\": null, \n  \"parent\": null, \n
        \ \"priorities\": {}, \n  \"tags\": [], \n  \"url_path\": \"protop2g-test-srce\",
        \n  \"user\": {\n    \"full_url\": \"https://pagure.io/user/t0xic0der\", \n
        \   \"fullname\": \"Akashdeep Dhar\", \n    \"name\": \"t0xic0der\", \n    \"url_path\":
        \"user/t0xic0der\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json
      Upgrade:
      - h2,h2c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-type:
      - application/json
    method: GET
    uri: https://gitlab.com/api/v4/projects/42823949
  response:
    body:
      string: '{"message":"401 Unauthorized"}'
    headers:
      Content-Type:
      - application/json
      gitlab-lb:
      - haproxy-main-01-lb-gprd
      gitlab-sv:
      - api-gke-us-east1-b
      x-gitlab-meta:
      - '{"correlation_id":"225fe86b70deb32e9b97f29b6c0ab546","version":"1"}'
    status:
      code: 401
      message: Unauthorized
version: 1
