interactions:
- request:
    body: null
    headers:
      Content-type:
      - application/json
    method: GET
    uri: https://gitlab.com/api/v4/projects/42823949
  response:
    body:
      string: '{"id":42823949,"description":null,"name":"protop2g-test","name_with_namespace":"Akashdeep
        Dhar / protop2g-test","path":"protop2g-test","path_with_namespace":"gridhead/protop2g-test","created_at":"2023-01-23T16:18:30.217Z","default_branch":"main","tag_list":[],"topics":[],"ssh_url_to_repo":"git@gitlab.com:gridhead/protop2g-test.git","http_url_to_repo":"https://gitlab.com/gridhead/protop2g-test.git","web_url":"https://gitlab.com/gridhead/protop2g-test","readme_url":"https://gitlab.com/gridhead/protop2g-test/-/blob/main/README.md","forks_count":0,"avatar_url":null,"star_count":0,"last_activity_at":"2024-04-04T06:14:00.869Z","namespace":{"id":13984834,"name":"Akashdeep
        Dhar","path":"gridhead","kind":"user","full_path":"gridhead","parent_id":null,"avatar_url":"https://secure.gravatar.com/avatar/e412343841597e2fb1e952dd2b1077fc95537604ce04a27c5bfb94bdb0dc3da8?s=80\u0026d=identicon","web_url":"https://gitlab.com/gridhead"},"container_registry_image_prefix":"registry.gitlab.com/gridhead/protop2g-test","_links":{"self":"https://gitlab.com/api/v4/projects/42823949","issues":"https://gitlab.com/api/v4/projects/42823949/issues","merge_requests":"https://gitlab.com/api/v4/projects/42823949/merge_requests","repo_branches":"https://gitlab.com/api/v4/projects/42823949/repository/branches","labels":"https://gitlab.com/api/v4/projects/42823949/labels","events":"https://gitlab.com/api/v4/projects/42823949/events","members":"https://gitlab.com/api/v4/projects/42823949/members","cluster_agents":"https://gitlab.com/api/v4/projects/42823949/cluster_agents"},"packages_enabled":true,"empty_repo":false,"archived":false,"visibility":"public","owner":{"id":10115999,"username":"gridhead","name":"Akashdeep
        Dhar","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/e412343841597e2fb1e952dd2b1077fc95537604ce04a27c5bfb94bdb0dc3da8?s=80\u0026d=identicon","web_url":"https://gitlab.com/gridhead"},"resolve_outdated_diff_discussions":false,"container_expiration_policy":{"cadence":"1d","enabled":false,"keep_n":10,"older_than":"90d","name_regex":".*","name_regex_keep":null,"next_run_at":"2023-01-24T16:18:30.271Z"},"repository_object_format":"sha1","issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"container_registry_enabled":true,"service_desk_enabled":true,"service_desk_address":"contact-project+gridhead-protop2g-test-42823949-issue-@incoming.gitlab.com","can_create_merge_request_in":true,"issues_access_level":"enabled","repository_access_level":"enabled","merge_requests_access_level":"enabled","forking_access_level":"enabled","wiki_access_level":"enabled","builds_access_level":"enabled","snippets_access_level":"enabled","pages_access_level":"enabled","analytics_access_level":"enabled","container_registry_access_level":"enabled","security_and_compliance_access_level":"private","releases_access_level":"private","environments_access_level":"enabled","feature_flags_access_level":"private","infrastructure_access_level":"private","monitor_access_level":"enabled","model_experiments_access_level":"enabled","model_registry_access_level":"enabled","emails_disabled":false,"emails_enabled":true,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":10115999,"import_url":null,"import_type":null,"import_status":"none","import_error":null,"open_issues_count":2,"description_html":"","updated_at":"2024-04-04T06:14:00.869Z","ci_default_git_depth":20,"ci_forward_deployment_enabled":true,"ci_forward_deployment_rollback_allowed":true,"ci_job_token_scope_enabled":false,"ci_separated_caches":true,"ci_allow_fork_pipelines_to_run_in_parent_project":true,"build_git_strategy":"fetch","keep_latest_artifact":true,"restrict_user_defined_variables":false,"runners_token":"SECURE_STANDARD_PASSWORD_HERE","runner_token_expiration_interval":null,"group_runners_enabled":true,"auto_cancel_pending_pipelines":"enabled","build_timeout":3600,"auto_devops_enabled":false,"auto_devops_deploy_strategy":"continuous","ci_config_path":"","public_jobs":true,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"allow_merge_on_skipped_pipeline":null,"request_access_enabled":true,"only_allow_merge_if_all_discussions_are_resolved":false,"remove_source_branch_after_merge":true,"printing_merge_request_link_enabled":true,"merge_method":"merge","squash_option":"default_off","enforce_auth_checks_on_uploads":true,"suggestion_commit_message":null,"merge_commit_template":null,"squash_commit_template":null,"issue_branch_template":null,"warn_about_potentially_unwanted_characters":true,"autoclose_referenced_issues":true,"external_authorization_classification_label":"","requirements_enabled":false,"requirements_access_level":"enabled","security_and_compliance_enabled":true,"compliance_frameworks":[],"permissions":{"project_access":{"access_level":40,"notification_level":3},"group_access":null}}'
    headers:
      Content-Type:
      - application/json
      etag:
      - W/"dd0f8b7ffd854863c164d1ba8f816810"
      gitlab-lb:
      - haproxy-main-36-lb-gprd
      gitlab-sv:
      - api-gke-us-east1-b
      x-gitlab-meta:
      - '{"correlation_id":"084523d609113458dc716f3b64835f39","version":"1"}'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-type:
      - application/json
    method: DELETE
    uri: https://gitlab.com/api/v4/projects/42823949/issues/1
  response:
    body:
      string: '{"message":"404 Issue Not Found"}'
    headers:
      Content-Type:
      - application/json
      gitlab-lb:
      - haproxy-main-60-lb-gprd
      gitlab-sv:
      - gke-cny-api
      x-gitlab-meta:
      - '{"correlation_id":"953073c51c4e2bdb6485144df4408fa7","version":"1"}'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://pagure.io/api/0/protop2g-test-srce
  response:
    body:
      string: "{\n  \"access_groups\": {\n    \"admin\": [], \n    \"collaborator\":
        [], \n    \"commit\": [], \n    \"ticket\": []\n  }, \n  \"access_users\":
        {\n    \"admin\": [], \n    \"collaborator\": [], \n    \"commit\": [], \n
        \   \"owner\": [\n      \"t0xic0der\"\n    ], \n    \"ticket\": []\n  }, \n
        \ \"close_status\": [], \n  \"custom_keys\": [], \n  \"date_created\": \"1697168063\",
        \n  \"date_modified\": \"1697168063\", \n  \"description\": \"The source namespace
        for the Pagure Exporter project to run tests against\", \n  \"full_url\":
        \"https://pagure.io/protop2g-test-srce\", \n  \"fullname\": \"protop2g-test-srce\",
        \n  \"id\": 17042, \n  \"milestones\": {}, \n  \"name\": \"protop2g-test-srce\",
        \n  \"namespace\": null, \n  \"parent\": null, \n  \"priorities\": {}, \n
        \ \"tags\": [], \n  \"url_path\": \"protop2g-test-srce\", \n  \"user\": {\n
        \   \"full_url\": \"https://pagure.io/user/t0xic0der\", \n    \"fullname\":
        \"Akashdeep Dhar\", \n    \"name\": \"t0xic0der\", \n    \"url_path\": \"user/t0xic0der\"\n
        \ }\n}\n"
    headers:
      Content-Type:
      - application/json
      Upgrade:
      - h2,h2c
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://pagure.io/api/0/protop2g-test-srce/issues?per_page=35&page=1
  response:
    body:
      string: "{\n  \"args\": {\n    \"assignee\": null, \n    \"author\": null, \n
        \   \"milestones\": [], \n    \"no_stones\": null, \n    \"order\": null,
        \n    \"priority\": null, \n    \"since\": null, \n    \"status\": null, \n
        \   \"tags\": []\n  }, \n  \"issues\": [\n    {\n      \"assignee\": null,
        \n      \"blocks\": [], \n      \"close_status\": null, \n      \"closed_at\":
        null, \n      \"closed_by\": null, \n      \"comments\": [\n        {\n          \"comment\":
        \"This is the first comment under the third test issue\", \n          \"date_created\":
        \"1700553880\", \n          \"edited_on\": null, \n          \"editor\": null,
        \n          \"id\": 885229, \n          \"notification\": false, \n          \"parent\":
        null, \n          \"reactions\": {}, \n          \"user\": {\n            \"full_url\":
        \"https://pagure.io/user/t0xic0der\", \n            \"fullname\": \"Akashdeep
        Dhar\", \n            \"name\": \"t0xic0der\", \n            \"url_path\":
        \"user/t0xic0der\"\n          }\n        }, \n        {\n          \"comment\":
        \"This is the second comment under the third test issue\", \n          \"date_created\":
        \"1700553892\", \n          \"edited_on\": null, \n          \"editor\": null,
        \n          \"id\": 885230, \n          \"notification\": false, \n          \"parent\":
        null, \n          \"reactions\": {}, \n          \"user\": {\n            \"full_url\":
        \"https://pagure.io/user/t0xic0der\", \n            \"fullname\": \"Akashdeep
        Dhar\", \n            \"name\": \"t0xic0der\", \n            \"url_path\":
        \"user/t0xic0der\"\n          }\n        }\n      ], \n      \"content\":
        \"This is the body of the third test issue\", \n      \"custom_fields\": [],
        \n      \"date_created\": \"1700553837\", \n      \"depends\": [], \n      \"full_url\":
        \"https://pagure.io/protop2g-test-srce/issue/3\", \n      \"id\": 3, \n      \"last_updated\":
        \"1700553892\", \n      \"milestone\": null, \n      \"priority\": null, \n
        \     \"private\": true, \n      \"related_prs\": [], \n      \"status\":
        \"Open\", \n      \"tags\": [\n        \"eeee\", \n        \"ffff\"\n      ],
        \n      \"title\": \"This is the title of the third test issue\", \n      \"user\":
        {\n        \"full_url\": \"https://pagure.io/user/t0xic0der\", \n        \"fullname\":
        \"Akashdeep Dhar\", \n        \"name\": \"t0xic0der\", \n        \"url_path\":
        \"user/t0xic0der\"\n      }\n    }, \n    {\n      \"assignee\": null, \n
        \     \"blocks\": [], \n      \"close_status\": null, \n      \"closed_at\":
        null, \n      \"closed_by\": null, \n      \"comments\": [\n        {\n      [...]
[...]
- request:
    body: '{"title": "[SN#3] This is the title of the third test issue", "description":
      "\nThis is the body of the third test issue\n\n_This issue ticket was originally
      created [here](https://pagure.io/protop2g-test-srce/issue/3) on a Pagure repository,\n[**protop2g-test-srce**](https://pagure.io/protop2g-test-srce)
      by [**Akashdeep Dhar**](https://pagure.io/user/t0xic0der) on\n[**Tue Nov 21
      08:03:57 2023** UTC](https://savvytime.com/converter/utc/nov-21-2023/08-03)._\n\n_This
      issue ticket was automatically created by the\n[**Pagure Exporter**](https://github.com/gridhead/pagure-exporter)._\n",
      "iid": 3}'
    headers:
      Content-type:
      - application/json
    method: POST
    uri: https://gitlab.com/api/v4/projects/42823949/issues
  response:
    body:
      string: '{"id":144256722,"iid":13791,"project_id":42823949,"title":"[SN#3] This
        is the title of the third test issue","description":"\nThis is the body of
        the third test issue\n\n_This issue ticket was originally created [here](https://pagure.io/protop2g-test-srce/issue/3)
        on a Pagure repository,\n[**protop2g-test-srce**](https://pagure.io/protop2g-test-srce)
        by [**Akashdeep Dhar**](https://pagure.io/user/t0xic0der) on\n[**Tue Nov 21
        08:03:57 2023** UTC](https://savvytime.com/converter/utc/nov-21-2023/08-03)._\n\n_This
        issue ticket was automatically created by the\n[**Pagure Exporter**](https://github.com/gridhead/pagure-exporter)._","state":"opened","created_at":"2024-04-04T06:16:46.509Z","updated_at":"2024-04-04T06:16:46.509Z","closed_at":null,"closed_by":null,"labels":[],"milestone":null,"assignees":[],"author":{"id":18339343,"username":"project_42823949_bot_992e5e9e997a7b44822ff32a4c634472","name":"protop2g-test","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/d05ca08df001326fd4089761821e15d906b1315eceace144e831979f3d83379e?s=80\u0026d=identicon","web_url":"https://gitlab.com/project_42823949_bot_992e5e9e997a7b44822ff32a4c634472"},"type":"ISSUE","assignee":null,"user_notes_count":0,"merge_requests_count":0,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"discussion_locked":null,"issue_type":"issue","web_url":"https://gitlab.com/gridhead/protop2g-test/-/issues/13791","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"task_completion_status":{"count":0,"completed_count":0},"blocking_issues_count":0,"has_tasks":true,"task_status":"0
        of 0 checklist items completed","_links":{"self":"https://gitlab.com/api/v4/projects/42823949/issues/13791","notes":"https://gitlab.com/api/v4/projects/42823949/issues/13791/notes","award_emoji":"https://gitlab.com/api/v4/projects/42823949/issues/13791/award_emoji","project":"https://gitlab.com/api/v4/projects/42823949","closed_as_duplicate_of":null},"references":{"short":"#13791","relative":"#13791","full":"gridhead/protop2g-test#13791"},"severity":"UNKNOWN","subscribed":true,"moved_to_id":null,"service_desk_reply_to":null}'
    headers:
      Content-Type:
      - application/json
      etag:
      - W/"47e9f8058c9d427a2902550d31844faa"
      gitlab-lb:
      - haproxy-main-07-lb-gprd
      gitlab-sv:
      - api-gke-us-east1-c
      x-gitlab-meta:
      - '{"correlation_id":"38178fa3fbd67554dd7a904c15815304","version":"1"}'
    status:
      code: 201
      message: Created
[...]
